@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-light.woff2") format("woff2"), url("assets/fonts/gilroy-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-bold.woff2") format("woff2"), url("assets/fonts/gilroy-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-medium.woff2") format("woff2"), url("assets/fonts/gilroy-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-regular.woff2") format("woff2"), url("assets/fonts/gilroy-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-extrabold.woff2") format("woff2"), url("assets/fonts/gilroy-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/gilroy-semibold.woff2") format("woff2"), url("assets/fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

body {
  font-family: Gilroy;
  font-size: 19px;
  color: #5c5d66;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #212227;
  font-weight: 800; }

h5.fnd {
  color: #24DC79 !important;
  font-size: 25px;
  font-size: 1.5625rem; }

h6.sml {
  font-size: 1.1rem;
  margin-top: 0.7rem;
  font-weight: 700;
  margin-bottom: 0.25rem; }

h2.x-large-thin {
  font-size: 64px;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 0; }
@media only screen and (min-width: 768px) {
  h2.x-large-thin {
    font-size: 6vw; } }
@media only screen and (min-width: 992px) {
  h2.x-large-thin {
    font-size: 4.5rem; } }

p {
  font-size: 16.5px;
  font-size: 1.03125rem; }
p.copyright {
  font-size: 0.8em;
  margin-top: 3rem; }
p.lrg {
  color: #3e484d;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0;
  line-height: 1.25; }
p.sml {
  font-size: 0.9em;
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 1.4em;
  color: #8f9099; }

a {
  color: #212227;
  font-weight: 700; }
a.clr-link {
  color: #01adff; }
a:hover {
  text-decoration: none;
  color: #212227; }
a.load-more {
  width: 100%;
  padding: 2.4rem 0;
  background: #f7f8fa;
  color: #01adff;
  display: block;
  text-align: center; }
a.c-link {
  color: #898b98;
  font-weight: 600; }
@media only screen and (max-width: 576px) {
  a.c-link {
    display: block; } }

ul.social {
  margin-top: 1.5rem; }
ul.actions li {
  margin-right: 1rem !important; }

.center {
  text-align: center;
  margin: 0 auto; }

.small {
  line-height: 1.5;
  font-size: 0.7em; }

.row.btn-contain {
  margin-top: 1rem; }

.align-right {
  text-align: right; }

.pad-xs {
  padding: 1.3rem; }

.pad-std {
  padding: 1.3rem; }
@media only screen and (min-width: 576px) {
  .pad-std {
    padding: 1.5rem; } }

.pad-md {
  padding: 1rem; }
@media only screen and (min-width: 992px) {
  .pad-md {
    padding: 1rem 1.6rem; } }
@media only screen and (max-width: 576px) {
  .pad-md.newsfeed {
    padding: 1rem 0; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .pad-md.newsfeed {
    padding: 1rem 1.3rem; } }

.pad-lg {
  padding: 1.1rem; }
@media only screen and (min-width: 576px) {
  .pad-lg {
    padding: 2rem 1.7rem; } }

.pad-xl {
  padding: 2rem 1.5rem; }
@media only screen and (min-width: 768px) {
  .pad-xl {
    padding: 2rem; } }

.pad-xxl {
  padding: 2rem 1rem 0; }
@media only screen and (min-width: 768px) {
  .pad-xxl {
    padding: 3rem 2.5rem 0; } }

.logo-main {
  max-width: 150px; }
@media only screen and (min-width: 992px) {
  .logo-main {
    max-width: 205px; } }

footer {
  background: #1e202a;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem; }
footer menu {
  text-align: center;
  margin: 1em 0 0;
  padding: 0; }
footer menu menuitem {
  padding: 0 1rem;
  width: 100%;
  display: block; }
footer .f-logo {
  margin-bottom: 1rem; }
footer a {
  color: #D0D0DB;
  font-size: 1.1rem;
  font-weight: 500; }
footer a:hover {
  color: #fff; }

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

span.strong {
  color: #212227;
  font-weight: 700; }
span.pr-small {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #777880;
  display: block; }
span.c-name {
  background: #898b98;
  padding: 0.4rem 1.8rem;
  margin-right: 1rem;
  border-radius: 100px;
  color: #fff;
  font-weight: 700; }

.card.sticky {
  position: relative; }
@media only screen and (min-width: 768px) {
  .card.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 6.5rem; } }

.no-stick {
  top: 0;
  position: relative; }

.modal-open .modal {
  padding-right: 0 !important; }

.modal-content {
  text-align: center; }

body.modal-open {
  overflow: inherit; }

.txt p {
  margin: 0 auto 1em !important; }
@media only screen and (min-width: 992px) {
  .txt p {
    font-size: 1em; } }

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

@media only screen and (max-width: 576px) {
  .col-xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; } }

@media only screen and (max-width: 576px) {
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (max-width: 576px) {
  .col-xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; } }

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

form.main-form input:not(.custom-file-input):focus ~ label, form.main-form textarea:focus ~ label {
  color: #01adff; }
form.main-form label {
  font-size: 17.5px;
  font-size: 1.09375rem;
  font-weight: 500;
  color: #25262a;
  display: table-header-group;
  transition: all 0.25s ease; }
form.main-form h6 {
  font-weight: 500;
  color: #25262a;
  font-size: 17.5px;
  font-size: 1.09375rem; }
form.main-form .form-control {
  font-size: 17.5px;
  font-size: 1.09375rem;
  background: #f6f9fc;
  padding: 1rem 0.75rem;
  border-color: #f6f9fc;
  color: #212227;
  border-radius: 6px;
  font-weight: 600;
  display: table-row-group;
  margin-top: 0.5em; }
form.main-form .form-control:focus {
  border-color: #cfd6d8;
  background: #fff; }
form.main-form .custom-select-lg, form.main-form input.large {
  margin-top: 0.5em;
  padding: 1rem 0.75rem;
  height: calc(2.875rem + 14px);
  background: #f6f9fc url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgMTEgOCI+CiAgPHBvbHlnb24gZmlsbD0iIzM1Mzc0NCIgZmlsbC1ydWxlPSJldmVub2RkIiBwb2ludHM9IjIyNS41IDMwLjMzMyAyMjAgMjMgMjMxIDIzIiBvcGFjaXR5PSIuNTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjAgLTIzKSIvPgo8L3N2Zz4K") no-repeat right 0.75rem center;
  border-color: #f6f9fc; }
form.main-form .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 6em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  font-weight: 700;
  color: #53586d;
  font-size: 1.1rem; }
form.main-form .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 100%;
  min-height: 6em;
  line-height: 2em;
  padding-top: 1.9em;
  opacity: 1;
  visibility: visible;
  text-align: center;
  border: 1px dashed #ccd4d9;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  background: #f4f7fb;
  border-radius: 6px;
  background-image: linear-gradient(158deg, #fbfcfe 1%, #f4f7fb); }
form.main-form .form-control-file:hover:before {
  border: 1px dashed #01adff; }
form.main-form button.btn {
  padding: 1.1rem 2.75rem; }
@media only screen and (min-width: 576px) {
  form.main-form button.btn {
    width: 80%; } }
form.main-form .progress {
  max-width: 500px;
  margin: 0 auto 3.4em;
  border-radius: 100px;
  background: #e7ebef;
  margin-top: 0.9rem; }
form.main-form .form-row > .col, form.main-form .form-row > [class*=col-] {
  display: table;
  margin-bottom: 1.4rem !important; }
form.main-form .custom-file-label {
  background: #f6f9fc;
  border-color: #f6f9fc;
  color: #898c99;
  border-radius: 6px; }
form.main-form .custom-file-label::after {
  padding: 0.275rem 0.75rem;
  color: #fff;
  background-color: #96a2a8;
  border-left: 0;
  font-weight: 700; }

@media only screen and (min-width: 576px) {
  .main-form p.small {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); } }

.progress-bar {
  background-color: #01adff;
  border-radius: 100px; }

.form-control {
  background: #f7f8fa;
  font-weight: 500;
  border-color: #e7e7ed; }
.form-control:focus {
  outline: none;
  box-shadow: none; }

.form-check, .custom-control.custom-checkbox {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.form-check-label, .custom-control-label {
  color: #353744; }

.custom-select-lg, input.large {
  height: calc(2.875rem + 4px);
  font-size: 17px;
  font-weight: 600;
  color: #95979e;
  background: #fcfcfd url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgMTEgOCI+CiAgPHBvbHlnb24gZmlsbD0iIzM1Mzc0NCIgZmlsbC1ydWxlPSJldmVub2RkIiBwb2ludHM9IjIyNS41IDMwLjMzMyAyMjAgMjMgMjMxIDIzIiBvcGFjaXR5PSIuNTEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjAgLTIzKSIvPgo8L3N2Zz4K") no-repeat right 0.75rem center;
  border-color: #eaeaef;
  background-size: 8px 10px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after, .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #24DC79;
  border-radius: 4px; }

input.large {
  background: #fcfcfd;
  margin-bottom: 1rem !important; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #93949c !important;
  font-weight: 500; }

input::-moz-placeholder, textarea::-moz-input-placeholder {
  color: #93949c !important;
  font-weight: 500; }

input:-moz-placeholder, textarea:-moz-input-placeholder {
  color: #93949c !important;
  font-weight: 500; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #93949c !important;
  font-weight: 500; }

.btn {
  background: #9ccc66;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0.55rem 0.75rem;
  border: 0;
  box-shadow: 0 4px 6px rgba(96, 129, 58, 0.09), 0 1px 3px rgba(0, 0, 0, 0.09);
  transition: all 0.25s ease; }
@media only screen and (max-width: 576px) {
  .btn {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .btn {
    padding: 0.85rem 0.75rem; } }
@media only screen and (min-width: 576px) {
  .btn.mb-3 {
    margin-bottom: 0 !important; } }
.btn.clr-line {
  background: transparent;
  border: 1px solid #24DC79;
  color: #24DC79 !important;
  box-shadow: none; }
.btn.clr-line.gray {
  border: 1px solid #d3d4dc !important;
  color: #babbc3 !important; }
.btn.clr-line.active {
  border: 1px solid #01adff !important;
  color: #01adff !important; }
.btn.clr-line:hover {
  background: transparent; }
.btn:focus {
  outline: none;
  box-shadow: none; }

a.btn:not(.clr-line):hover, button.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 18px 17px 0 rgba(23, 28, 33, 0.03);
  background: #a3d071;
  color: #fff; }
a.btn:not(.clr-line):active, button.btn:active {
  color: #f7f7f7;
  transform: translateY(1px);
  background: #95c85b; }

.btn-primary {
  background: #9ccc66; }

.navbar-nav .nav-link:not(.btn) {
  font-size: 1rem;
  font-weight: 700;
  color: #212227 !important;
  padding: 0.7rem 0.8rem; }
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-nav .nav-link:not(.btn) {
    padding: 0.7rem 0.3rem;
    font-size: 14.4px;
    font-size: 0.9rem; } }

.navbar-nav .nav-link:not(.btn).active svg path {
  fill: #24DC79; }

.navbar {
  padding: 0.3rem 0.5rem;
  background: #fff;
  transition: 0.15s all ease;
  border-bottom: 1px solid #eee; }
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0.5rem 1.5rem; } }
.navbar li a svg {
  top: 0.15em;
  padding-right: 1.4em;
  position: relative; }
.navbar li a svg path {
  fill: #C6C6CD; }
.navbar ul li:last-child {
  padding-right: 1rem; }
.navbar .btn {
  font-size: 1rem;
  margin-left: 1rem;
  color: #fff !important; }
.navbar .dropdown-menu {
  box-shadow: 0 6px 14px 0 rgba(23, 28, 33, 0.08);
  border: 0;
  border-radius: 0.5rem; }
@media only screen and (min-width: 576px) {
  .navbar .dropdown:hover > .dropdown-menu {
    display: block; } }
.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  background-color: #24DC79; }
.navbar a.dropdown-item {
  font-weight: 500; }

.wrapper {
  padding-bottom: 9rem; }
.wrapper.gray {
  background: #f7f8fa; }
.wrapper.home {
  padding-bottom: 11.4rem; }

.container {
  width: 1200px;
  max-width: 100%; }
@media only screen and (min-width: 992px) {
  .container {
    max-width: 95%; } }
.container.profile .content {
  position: relative;
  margin-top: -2.9em; }
@media only screen and (min-width: 768px) {
  .container.profile .content {
    margin-top: -13.2rem; } }
@media only screen and (max-width: 768px) {
  .container.hero.profile .c-link, .container.hero.profile .company {
    display: none; } }
.container.offset {
  margin-top: -6rem; }
.container.profile {
  padding-bottom: 0; }
.container.profile img.icon {
  float: left;
  margin-top: 0.1rem; }
.container.profile ul.fund-data li p {
  margin-bottom: 0.5rem;
  padding-left: 1.7em;
  font-size: 1.1rem; }
.container.profile .card h5 {
  margin-bottom: 1.2rem; }
.container.profile .card h5.mobile {
  display: none; }
@media only screen and (max-width: 576px) {
  .container.profile .card h5.mobile {
    display: block;
    margin-bottom: 0.7rem; } }
.container.profile .card h5.mob-up {
  display: none; }
@media only screen and (min-width: 576px) {
  .container.profile .card h5.mob-up {
    display: block; } }
.container.profile .card p {
  padding-left: 1.9em; }
@media only screen and (max-width: 576px) {
  .container.profile .card p {
    margin-bottom: 0.4em; } }
.container.profile .card .company {
  box-shadow: none;
  border-radius: 0;
  padding: 1.9rem 1rem;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 49%; }
@media only screen and (min-width: 576px) {
  .container.profile .card .company {
    display: none; } }
.container.no-head {
  padding: 5.3rem 15px 0; }
@media only screen and (min-width: 768px) {
  .container.no-head {
    padding: 6.5rem 15px 0; } }

header {
  background: #f7f8fa;
  padding: 5.8em 0 12.1em;
  background-image: url(img/bg-header-left.svg), url(img/bg-header-right.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 3rem, bottom right; }
@media only screen and (min-width: 768px) {
  header {
    padding: 5.5em 0 13.2em; } }
@media only screen and (min-width: 992px) {
  header {
    padding: 6.5em 0 13.5em; } }
@media only screen and (min-width: 1200px) {
  header {
    padding: 7.1em 0 13.7em; } }
header.header-home {
  text-align: center; }
header.header-page {
  text-align: left;
  padding: 4em 0 2.8em; }
@media only screen and (min-width: 768px) {
  header.header-page {
    padding: 10.5em 0 2.4em; } }
header.header-page .info {
  text-align: center;
  margin-bottom: 1.9em; }
@media only screen and (min-width: 768px) {
  header.header-page .info {
    padding-left: 2.5rem;
    margin-bottom: 0;
    text-align: left; } }
header.header-page h1 {
  margin-bottom: 0.9rem; }
@media only screen and (max-width: 576px) {
  header.header-page h1 {
    font-size: 26px;
    font-size: 1.625rem;
    text-align: center; } }
@media only screen and (min-width: 768px) {
  header.header-page h1 {
    font-size: 42px;
    font-size: 2.625rem; } }
@media only screen and (min-width: 992px) {
  header.header-page h1 {
    font-size: 51px;
    font-size: 3.1875rem; } }
header p {
  color: #87888e;
  margin-bottom: 0;
  max-width: 695px;
  margin: 0 auto; }
@media only screen and (min-width: 768px) {
  header p {
    font-size: 19.5px;
    font-size: 1.21875rem; } }
@media only screen and (min-width: 992px) {
  header p {
    font-size: 21px;
    font-size: 1.3125rem; } }
@media only screen and (min-width: 1200px) {
  header p {
    font-size: 1.25em; } }
header h1 {
  font-size: 29px;
  font-size: 1.8125rem; }
@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 46px;
    font-size: 2.875rem; } }
@media only screen and (min-width: 992px) {
  header h1 {
    font-size: 51px;
    font-size: 3.1875rem; } }
@media only screen and (min-width: 1200px) {
  header h1 {
    font-size: 57px;
    font-size: 3.5625rem; } }

.header-page.sm-head {
  text-align: center;
  padding: 4.4em 0 5.9em; }
@media only screen and (min-width: 768px) {
  .header-page.sm-head {
    padding: 5.8em 0 6.5em; } }
@media only screen and (min-width: 768px) {
  .header-page.sm-head h1 {
    font-size: 43px;
    font-size: 2.6875rem; } }

.unlock, .stats {
  text-align: center;
  padding: 2.8rem 0 1rem; }
@media only screen and (min-width: 768px) {
  .unlock, .stats {
    padding: 5.3rem 0 1rem; } }
.unlock h3, .stats h3 {
  font-size: 6vw;
  margin-bottom: 1.35rem; }
@media only screen and (min-width: 768px) {
  .unlock h3, .stats h3 {
    font-size: 2rem; } }

.unlock img.full {
  width: 1147px;
  max-width: 90%; }

.get-started {
  background: #1a1c21;
  width: 985px;
  margin: 0 auto;
  position: relative;
  margin-top: -9rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 13px;
  max-width: 92%;
  margin-bottom: 7rem; }
@media only screen and (min-width: 768px) {
  .get-started {
    padding: 3.7rem 3rem; } }
@media only screen and (min-width: 768px) {
  .get-started {
    text-align: left; } }
.get-started h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 1em; }
@media only screen and (min-width: 768px) {
  .get-started h3 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); } }
@media only screen and (min-width: 768px) {
  .get-started h3 {
    font-size: 2rem; } }
@media only screen and (min-width: 992px) {
  .get-started h3 {
    font-size: 2.4rem; } }
@media only screen and (min-width: 768px) {
  .get-started h3 {
    margin-bottom: 0; } }
.get-started p {
  margin-bottom: 0;
  color: #87878D; }
.get-started a {
  padding: 1.1rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 800; }

section {
  position: relative; }
section.stats {
  margin-top: -25vw;
  background-image: linear-gradient(-180deg, #f7f8fa 3%, #fff 81%);
  padding: 5rem 0 0; }
@media only screen and (min-width: 1200px) {
  section.stats {
    margin-top: -16em; } }
section.stats div[class*='col-'] {
  display: flex; }
section.stats h3 {
  margin-bottom: 1.5em;
  margin-top: 1em; }
section.stats .container.offset-large {
  padding-top: 11vw; }
@media only screen and (min-width: 768px) {
  section.stats .container.offset-large {
    padding-top: 12vw; } }
@media only screen and (min-width: 992px) {
  section.stats .container.offset-large {
    padding-top: 10em; } }
section.unlock p {
  padding-bottom: 2em; }
@media only screen and (min-width: 576px) {
  section.unlock p {
    font-size: 17px;
    font-size: 1.0625rem; } }
@media only screen and (min-width: 768px) {
  section.unlock p {
    font-size: 18.5px;
    font-size: 1.15625rem;
    max-width: 80%;
    margin: 0 auto; } }
@media only screen and (min-width: 992px) {
  section.unlock p {
    font-size: 19.5px;
    font-size: 1.21875rem;
    max-width: 700px; } }
@media only screen and (min-width: 1200px) {
  section.unlock p {
    font-size: 20px;
    font-size: 1.25rem;
    max-width: 910px;
    letter-spacing: 0.01em;
    line-height: 1.55; } }

.sec-icon {
  margin-bottom: 1.6rem; }

@media only screen and (min-width: 576px) {
  .profile-img {
    width: 100%; } }

.profile-img:not(.no-b) img {
  border-bottom: 6px solid #9DCB6B; }

.pr-content {
  padding-bottom: 2.1rem;
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 2.6rem; }
.pr-content:last-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0; }
.pr-content .card {
  margin-top: 1rem;
  margin-bottom: 0.8rem; }
.pr-content h5 {
  color: #898a94;
  font-size: 1.3rem;
  margin-top: 0.9rem; }
.pr-content .card-body {
  padding: 1.75rem 1.25rem 1.05rem; }
.pr-content p {
  margin-bottom: 1rem !important; }
@media only screen and (min-width: 768px) {
  .pr-content p {
    font-size: 0.925em; } }
.pr-content p:last-child {
  margin-bottom: 0; }
.pr-content img:not(.icon) {
  border-radius: 5px; }
.pr-content h4 {
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.2rem; }
.pr-content h4 img {
  margin-top: -0.3rem !important;
  position: relative;
  margin-right: 0.6rem; }
.pr-content.has-img .row {
  text-align: center; }
.pr-content.has-img .row [class*="3"]:nth-child(-n+4), .pr-content.has-img .row [class*="4"]:nth-child(-n+3) {
  padding-top: 0.6em; }
.pr-content.has-img .row [class*="3"]:nth-child(n+5) {
  margin-top: 2.5rem; }
.pr-content.has-img .row [class*="4"]:nth-child(n+4) {
  margin-top: 2rem; }
.pr-content.has-img:not(#team) img:not(.icon) {
  border: 1px solid #e0dcdc; }

.feed .card {
  margin-bottom: 1.3rem; }
@media only screen and (min-width: 768px) {
  .feed .card {
    margin-bottom: 2rem; } }
.feed .card.search {
  margin-bottom: 3rem; }
.feed .card.search form {
  border-top: 1px solid #e5e7e9;
  padding-top: 1.5em;
  margin-top: 0.8em; }
@media only screen and (min-width: 768px) {
  .feed .card.search form {
    margin-top: 1.4em;
    padding-top: 1.5em; } }
.feed p:not(.poster) {
  font-size: 16px;
  padding-top: 1.1rem;
  color: #56565f; }
.feed p.timing {
  padding-top: 0; }
@media only screen and (max-width: 576px) {
  .feed p.timing {
    margin-top: auto !important; } }
.feed p.status {
  font-size: 17px;
  font-size: 1.0625rem;
  margin-top: 0.3rem;
  color: #212227; }
.feed p.status span {
  font-weight: 700; }
.feed .share h6 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 1.3rem; }
.feed .share h6 img {
  margin-right: 0.6rem;
  margin-top: -0.2rem; }
.feed .media h6 {
  margin-bottom: 0.3rem;
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem; }
@media only screen and (min-width: 576px) {
  .feed .media h6 {
    font-size: 18px;
    font-size: 1.125rem; } }
.feed .media .e-date {
  padding: 0.4rem 0.6rem;
  text-align: center;
  border-radius: 5px;
  margin-right: 0.8rem;
  width: 90px;
  height: 90px;
  box-shadow: -1px 20px 40px -6px rgba(18, 46, 59, 0.16);
  background: #fff; }
.feed .media p {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 0;
  padding: 0;
  line-height: 1.4; }
.feed .media p.e-month {
  font-weight: 700;
  color: #01adff;
  font-size: 19px;
  font-size: 1.1875rem;
  padding: 0;
  margin: 0; }
.feed .media p.e-day {
  color: #2e3141;
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1; }
.feed .media img:not(.icon) {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: -1px 20px 40px -6px rgba(18, 46, 59, 0.16); }
@media only screen and (min-width: 768px) {
  .feed .media img:not(.icon) {
    width: 90px;
    height: 90px; } }
.feed .media img:not(.icon).c-poster {
  box-shadow: none;
  border: 2px solid #eee; }
.feed .media.comment img {
  margin-top: 0 !important;
  width: 40px;
  height: 40px; }
.feed .media textarea {
  resize: none;
  min-height: 45px;
  overflow: hidden;
  box-sizing: border-box; }
.feed .with-img {
  padding: 0.5rem 0.7rem 0.7rem; }
@media only screen and (min-width: 768px) {
  .feed .with-img {
    padding: 0.9rem 1.7rem 1.7rem; } }
.feed .with-img .media img, .feed .with-img .media .e-date {
  margin-top: -1em; }
@media only screen and (min-width: 768px) {
  .feed .with-img .media img, .feed .with-img .media .e-date {
    margin-top: -1.9em; } }
.feed .no-img {
  padding: 0.9rem; }
@media only screen and (min-width: 768px) {
  .feed .no-img {
    padding: 1.7rem; } }
.feed .no-img .media:not(.comment) {
  align-items: center; }
.feed .no-img .timing {
  margin-top: -1.4rem; }
.feed .srch-results.com h3 {
  margin-bottom: 0.3rem; }
.feed .srch-results.com p.srch {
  padding-top: 0.8rem; }
.feed .srch-results p {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 1em; }
.feed .srch-results ul {
  margin-bottom: 0; }
.feed .srch-results ul.search {
  padding-top: 1.5em;
  margin-top: 1.4em;
  border-top: 1px solid #e5e7e9; }
@media only screen and (min-width: 768px) {
  .feed .srch-results ul.search {
    padding-top: 2em;
    margin-top: 2em; } }
.feed .srch-results ul.search:first-of-type {
  margin-top: 0.8em; }
@media only screen and (min-width: 768px) {
  .feed .srch-results ul.search:first-of-type {
    margin-top: 1.4em; } }
.feed .srch-results li.media {
  position: relative; }
.feed .srch-results hr:first-of-type {
  margin: 1.6rem 0 2.7rem; }
.feed .srch-results hr {
  margin: 2.4rem auto; }
.feed .srch-results p.srch {
  margin: 0.3rem 0 0.6rem; }
.feed .srch-results h3 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0.8rem; }
@media only screen and (min-width: 768px) {
  .feed .srch-results h3 {
    font-size: 28px;
    font-size: 1.75rem; } }
.feed .srch-results .company {
  margin-top: 0;
  box-shadow: none;
  padding: 0;
  background: transparent;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 125px; }
.feed .srch-results .company img {
  width: auto !important;
  height: auto !important; }
@media only screen and (max-width: 576px) {
  .feed .srch-results .company {
    display: none; } }
.feed .srch-results .btn {
  width: 100%;
  border-radius: 100px;
  padding: 0.4rem 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  margin-top: 0.7rem; }
@media only screen and (min-width: 768px) {
  .feed .srch-results .btn {
    font-size: 13px; } }
.feed .srch-results img.round {
  border-radius: 10px;
  box-shadow: none; }
.feed .srch-results img.com {
  border: 2px solid #dcdce4; }
.feed .srch-results span.c-name {
  padding: 0.3rem 1.4rem;
  font-size: 17px;
  font-size: 1.0625rem; }
.feed .srch-results span.loc {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #898b98;
  font-weight: 600;
  margin-right: 0.6rem; }
.feed .srch-results a.c-link {
  font-size: 17px;
  font-size: 1.0625rem; }
@media only screen and (max-width: 768px) {
  .feed .srch-results a.c-link {
    display: none; } }
.feed .srch-results .icon-link {
  width: 1.5em;
  margin-left: 0.5em; }
.feed .srch-results .icon-loc {
  margin-top: -0.1em;
  padding-right: 5px; }
.feed .srch-results .fund-data {
  margin-top: 0.5em; }
.feed .srch-results .fund-data p {
  padding: 0;
  margin-top: 0.4rem;
  margin-bottom: 0; }
.feed .actions img {
  cursor: pointer; }
.feed span.count {
  font-size: 14px;
  font-size: 0.875rem;
  padding-left: 0.35rem; }
.feed .sidebar-grp .e-date {
  padding: 0.4rem 0.6rem;
  text-align: center;
  border: 2px solid #dcdce4;
  border-radius: 5px;
  margin-right: 0.8rem;
  width: auto;
  height: auto;
  box-shadow: none; }
.feed .sidebar-grp .e-month {
  font-weight: 700;
  color: #01adff;
  font-size: 16px;
  font-size: 1rem;
  padding: 0;
  margin: 0; }
.feed .sidebar-grp .e-day {
  color: #2e3141;
  margin: 0;
  padding: 0;
  font-size: 20px !important;
  font-size: 1.2375rem !important;
  font-size-line-height: 1; }

.sidebar {
  display: none; }
@media only screen and (min-width: 992px) {
  .sidebar {
    display: block; } }

.feed-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 31%;
  border-bottom: 6px solid #9dcb6b; }

.update {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px;
  padding: 0.2rem 0.8rem 0.35rem; }
.update.new-job {
  background: #1caaf5; }
.update.new-status {
  background: #e37475; }
.update.new-event {
  background: #24db79; }

.loading {
  text-align: center; }

.thumb-srch {
  width: 60px;
  margin-right: 1em; }
@media only screen and (min-width: 768px) {
  .thumb-srch {
    width: 90px;
    margin-right: 1.6em; } }

.content .card img:not(.icon) {
  width: 100%; }
.content .card .media.sidebar-rt img:not(.icon) {
  width: 40px;
  height: 40px;
  border-radius: 5px; }
.content .card .media.sidebar-rt .media-body {
  overflow: hidden; }
.content .card .media.sidebar-rt p, .content .card .media.sidebar-rt h6 {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.content .card .media.sidebar-rt h6 {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1rem; }
.content .card .media.sidebar-rt p {
  font-size: 16px;
  font-size: 1rem; }
.content .card .btn {
  width: 100%; }
.content .card hr {
  margin: 2rem 0; }

.card {
  background: #fff;
  box-shadow: -1px 52px 99px -13px rgba(18, 46, 59, 0.15);
  margin-bottom: 1.5rem;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  flex: 1;
  border: 0; }
.card.signup {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }
.card.signup .main-form h5 {
  margin-bottom: 0.5em;
  color: #01adff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center; }
.card.txt {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
.card .content {
  padding: 1.5em; }
.card h5 {
  font-weight: 700;
  font-size: 1.35rem;
  margin-bottom: 0; }
.card.search h5 {
  font-size: 21px;
  font-size: 1.3125rem; }
.card.search h5 img {
  margin-right: 0.9rem;
  margin-top: -0.2rem; }
.card.search h6 {
  color: #01adff;
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 0.3rem; }
.card.search hr {
  margin: 1.6rem 0px; }
@media only screen and (max-width: 768px) {
  .card.feed-user .the-info {
    width: 53%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .card.feed-user .the-info {
    right: 2.5em; } }

@media only screen and (max-width: 768px) {
  .card.feed-user .the-img {
    width: 37%; } }
@media only screen and (max-width: 768px) {
  .card.feed-user hr {
    display: none; } }
@media only screen and (max-width: 768px) {
  .card.feed-user ul.types {
    display: none; } }
.card.feed-user h5 {
  font-size: 19px;
  font-size: 1.1875rem; }
@media only screen and (max-width: 576px) {
  .card.feed-user h5 {
    margin-bottom: 0.1em; } }
@media only screen and (max-width: 330px) {
  .card.feed-user h5 {
    font-size: 17px;
    font-size: 1.0625rem; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .card.feed-user h5 {
    font-size: 33px;
    font-size: 2.0625rem; } }

.card.feed-user h6 {
  color: #01adff;
  font-weight: 700;
  font-size: 17px;
  font-size: 1.0625rem;
  margin-bottom: 0.3rem; }
.card.feed-user ul.list-unstyled {
  margin-bottom: 0; }
.card.feed-user ul.list-unstyled.types li {
  margin-top: 1rem; }
.card.feed-user ul.list-unstyled li p {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 0.1rem;
  padding-top: 0; }
@media only screen and (max-width: 576px) {
  .card.feed-user ul.list-unstyled li p {
    margin-bottom: 0;
    line-height: 1.4; } }
@media only screen and (max-width: 330px) {
  .card.feed-user ul.list-unstyled li p {
    font-size: 12.5px;
    font-size: 0.78125rem; } }
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .card.feed-user ul.list-unstyled li p {
    font-size: 16px;
    font-size: 1rem; } }

.card.feed-user hr {
  margin: 0.8rem 0px; }
.card.flat {
  background: #f0f1f5;
  box-shadow: none;
  flex: 1;
  flex-direction: column;
  display: flex; }
.card.flat p {
  flex-grow: 1;
  font-size: 1em;
  line-height: 1.3; }
@media only screen and (min-width: 992px) {
  .card.flat p {
    font-size: 20px;
    font-size: 1.25rem; } }
.card.flat::after {
  content: "";
  background: #E4E6EB;
  position: absolute;
  bottom: 0;
  height: 9px;
  width: 60px;
  left: 50%;
  transform: translateX(-50%); }
.card .sidebar-grp h5 {
  padding-bottom: 0.7rem;
  color: #a9a9b3;
  font-size: 19px;
  font-size: 1.1875rem; }
.card .sidebar-grp .media.sidebar-rt {
  margin-bottom: 1rem; }
.card .sidebar-grp .media p {
  margin-bottom: 0; }
.card .sidebar-grp a.btn {
  font-size: 17px;
  font-size: 1.0625rem;
  padding: 0.55rem 0.75rem;
  margin-top: 0.3rem; }

.or-sep {
  margin: 2.1rem auto 0.8rem;
  text-align: center;
  border-top: 1px solid #E9E9E9;
  max-width: 720px; }
.or-sep span {
  padding: 0 10px;
  background: #fff;
  position: relative;
  top: -16px;
  z-index: 1;
  font-size: 1rem; }

@media only screen and (min-width: 576px) {
  svg.msg {
    margin-left: 1rem;
    position: relative;
    top: -2px; } }
svg.active .msg-active {
  fill: #01adff;
  stroke: #fff; }

.user-type {
  position: relative;
  margin-top: -11.5rem;
  text-align: center; }
.user-type p {
  font-size: 17.3px;
  font-size: 1.08125rem;
  margin-bottom: 1.2rem;
  font-size: 0.94em;
  flex-grow: 1; }
.user-type div[class*='col-'] {
  display: flex; }
.user-type .card .btn {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 0.875rem 0.75rem;
  font-weight: 800; }
@media only screen and (min-width: 576px) {
  .user-type .card .btn {
    padding: 1.175rem 0.75rem; } }
.user-type .card h5 {
  font-weight: 700;
  font-size: 1.35rem;
  margin: 1rem auto 0.6rem; }

.card-a {
  transition: all 0.25s ease;
  flex: 1;
  flex-direction: column;
  display: flex; }
.card-a p {
  color: #5c5d66;
  font-weight: 500; }
.card-a p:hover {
  color: #5c5d66;
  font-weight: 500; }
.card-a:hover {
  transform: translateY(-2px);
  box-shadow: 0 18px 17px 0 rgba(23, 28, 33, 0.03); }
.card-a:hover .btn {
  color: #fff;
  background: #a3d071;
  transform: 0; }
.card-a:active {
  color: #f7f7f7;
  transform: translateY(1px); }

.company {
  background: #fff;
  box-shadow: -1px 23px 96px -13px rgba(18, 46, 59, 0.13);
  border-radius: 6px;
  overflow: hidden;
  padding: 1.9rem 1rem;
  margin-top: 0.9rem; }

.row.fund-data li p {
  padding-left: 0 !important; }
.row.fund-data li p span {
  color: #212227;
  font-weight: 700; }

@media only screen and (min-width: 768px) {
  .navbar-nav .nav-link {
    padding: 0.6rem 1.9rem;
    font-size: 1.15rem; }
  .navbar-nav .nav-link.btn {
    padding: 0.4rem 0.8rem;
    margin-top: 4px;
    font-size: 17px;
    font-size: 1.0625rem; }

  .card {
    margin-bottom: 0; }

  .content .card div[class*='col-']:not(.col-sm-12):first-child {
    padding-right: 5px; }
  .content .card div[class*='col-']:not(.col-sm-12):last-child {
    padding-left: 5px; }

  footer menu menuitem {
    width: auto;
    display: inline; } }
@media only screen and (min-width: 1200px) {
  header.header-page p {
    margin: 0; } }

/*# sourceMappingURL=custom.css.map */
